@use "./core";

.rtv {
  --rds-button-primary-fg: #fff;
  --rds-button-secondary-pressed-fg: #666666;
  --rds-button-secondary-pressed-bg: #fff;
  --rds-button-tertirary-bg: #3b3b3b;
  --rds-button-tertiary-hover-bg: #434343;
  --rds-accent-color: #ee4642;
  --rds-accent-color-mid: #ed302b;
  --rds-accent-color-dark: #d41612;
  --rds-accent-hover: #d41612;
  --rds-foreground-primary: #fff;
  --rds-foreground-secondary: #a8a8a8;
  --rds-foreground-tertiary: #666;

  --rds-heading-accent: var(--rds-foreground-primary);

  --rds-background-primary-rgb: 37, 37, 37;
  --rds-background-primary: rgb(var(--rds-background-primary-rgb));
  --rds-background-secondary: #434343;
  --rds-background-tertiary: #0b0b0b;

  --rds-foreground-overlay-soft: rgba(255, 255, 255, 0.1);
  --rds-foreground-overlay-medium: rgba(255, 255, 255, 0.3);
  --rds-foreground-overlay-heavy: rgba(255, 255, 255, 0.7);

  --rds-foreground-solid-soft: #3c3c3c;

  --rds-surface-foreground: #434343;

  --rds-background-overlay-soft: rgba(0, 0, 0, 0.1);
  --rds-background-overlay-medium: rgba(0, 0, 0, 0.5);
  --rds-background-overlay-heavy: rgba(0, 0, 0, 0.85);

  --rds-feedback-info: #00aec7;
  --rds-feedback-warning: #f2a900;
  --rds-feedback-confirm: #4cbb81;
  --rds-feedback-error: #e01c17;

  --rds-roundness--default: 4px;
  --rds-roundness--button: 34px;
  --rds-roundness--round: 50%;

  --rds-font-family-lg-headlines: "AvertaBold", Arial, Helvetica, "system-ui", sans-serif;
  --rds-font-family-headlines: "AvertaBold", Arial, Helvetica, "system-ui", sans-serif;
  --rds-font-family-m-headlines: "AvertaSemibold", Arial, Helvetica, "system-ui", sans-serif;
  --rds-font-family-body: "AvertaRegular", Arial, Helvetica, "system-ui", sans-serif;

  --rds-font-size--default: 1.125rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
