@font-face {
  font-family: "HALMatex";
  src: url("/fonts/HALMatexStrim-Regular.woff2") format("woff2"),
    url("/fonts/HALMatexStrim-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

/* Averta Standard Regular */
@font-face {
  font-family: "AvertaRegular";
  src: url("/fonts/AvertaStandardRegular.woff2") format("woff2"),
    url("/fonts/hinted-AvertaStd-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Averta Standard Semibold  */
@font-face {
  font-family: "AvertaSemibold";
  src: url("/fonts/AvertaStandardSemibold.woff2") format("woff2"),
    url("/fonts/hinted-AvertaStd-Semibold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Averta Standard Bold */
@font-face {
  font-family: "AvertaBold";
  src: url("/fonts/AvertaStandardBold.woff2") format("woff2"),
    url("/fonts/hinted-AvertaStd-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
