@use './core';

.strm {
  --stand-up-green: #49f5a4;

  --rds-button-primary-fg: #004b50;
  --rds-accent-color: #faed6f;
  --rds-accent-color-mid: #f7e426;
  --rds-accent-color-dark: #f7e426;
  --rds-foreground-primary: #ffffff;
  --rds-foreground-secondary: #b2bfbf;
  --rds-foreground-tertiary: #356e63;

  --rds-heading-accent: var(--stand-up-green);

  --rds-background-primary-rgb: 0, 42, 42; // #002a2a
  --rds-background-primary: rgb(var(--rds-background-primary-rgb));
  --rds-background-secondary: #001515;
  --rds-background-tertiary: #004b50;

  --rds-foreground-overlay-soft: rgba(255, 255, 255, 0.1);
  --rds-foreground-overlay-medium: rgba(255, 255, 255, 0.3);
  --rds-foreground-overlay-heavy: rgba(255, 255, 255, 0.7);

  --rds-background-overlay-soft: rgba(0, 0, 0, 0.1);
  --rds-background-overlay-medium: rgba(0, 0, 0, 0.5);
  --rds-background-overlay-heavy: rgba(0, 0, 0, 0.85);

  --rds-feedback-info: #00aec7;
  --rds-feedback-warning: #f2a900;
  --rds-feedback-confirm: #4cbb81;
  --rds-feedback-error: #e01c17;

  --rds-roundness--default: 12px;
  --rds-roundness--button: 12px;
  --rds-roundness--round: 50%;

  --rds-font-family-lg-headlines: "HALMatex", sans-serif;
  --rds-font-family-headlines: "AvertaBold", Arial, Helvetica, sans-serif;
  --rds-font-family-m-headlines: "AvertaSemibold", Arial, Helvetica, sans-serif;
  --rds-font-family-body: "AvertaRegular", Arial, Helvetica, sans-serif;

  --rds-font-size--default: 1.125rem;
}
