.portal-example__types {
  padding: var(--strim-spacing--16);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: var(--strim-roundness--default);
  margin-top: var(--strim-spacing--8);
  max-width: 46rem;

  &__details {
    & summary {
      cursor: pointer;
      user-select: none;
    }
  }

  &__table {
    width: 100%;
    margin-top: var(--strim-spacing--24);
    table-layout: fixed;

    & > thead {
      text-align: left;
    }
    td,
    th {
      word-wrap: break-word;
      max-width: 25%;
      padding: var(--strim-spacing--8) var(--strim-spacing--16);
    }
  }

  &--node-module {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &--required {
    display: flex;
    justify-content: center;
  }
}
