@use "../../../shared-components/src/components/core/mixin/focus" as mix;

.portal-example__types {
  margin-top: var(--rds-spacing--8);
  max-width: 46rem;

  &__details {
    background-color: var(--rds-background-tertiary);
    max-width: 46rem;
    padding: var(--rds-spacing--16);
  }

  &__table {
    width: 100%;
    margin-top: var(--rds-spacing--24);
    table-layout: fixed;

    & > thead {
      text-align: left;
    }
    td,
    th {
      padding: var(--rds-spacing--8) var(--rds-spacing--16);
    }
    td {
      word-wrap: break-word;
    }
  }

  &--node-module {
    background-color: var(--rds-background-overlay-medium);
  }

  &--large-row {
    width: 40%;
  }
  &--small-row {
    width: 10%;
  }
  @media only screen and (max-width: 768px) {
    &--large-row {
      display: table-cell;
      width: 50%;
    }
    &--small-row {
      display: none;
    }
  }

  &--required {
    display: flex;
    justify-content: center;
  }
}
