.portal-example__types {
  margin-top: var(--strim-spacing--32);

  &__details {
    margin-top: var(--strim-spacing--32);
  }

  &__table {
    margin-top: var(--strim-spacing--24);
    table-layout: fixed;

    & > thead {
      text-align: left;
    }
    td,
    th {
      word-wrap: break-word;
      max-width: 300px;
      padding: var(--strim-spacing--8) var(--strim-spacing--16);
    }
  }

  &--node-module {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
