@use "../typography/typography.scss";
@use "../core/mixin/focus" as mix;
@use "../core/mixin/rem";

.rds-form-group {
  --textfield-color: var(--rds-foreground-primary);
  --textfield-label-color: var(--rds-foreground-secondary);
  --textfield-border-color: var(--rds-foreground-primary);
  --textfield-error-color: var(--rds-feedback-error);
  --textfield-bg: var(--rds-background-primary);
  position: relative;

  .rds-textfield {
    &--input {
      border: 1px solid var(--textfield-border-color);
      background-color: var(--input-border-bg);
      color: var(--textfield-color);
      border-radius: 2px;

      height: 3rem;
      width: 100%;
      max-width: 500px;
      padding: 0 var(--rds-spacing--8);

      &--full-width {
        max-width: unset;
      }

      &::placeholder {
        opacity: 0;
      }

      &:focus {
        outline-color: var(--rds-feedback-info);
      }

      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        display: none;
      }

      &:-webkit-autofill {
        box-shadow: 0 0 0 30px var(--textfield-bg) inset;
        -webkit-text-fill-color: var(--textfield-color);
      }
    }

    &--label {
      cursor: text;
      background-color: var(--textfield-bg);
      position: absolute;
      padding: 0 8px;
      top: 50%;
      left: var(--rds-spacing--4);
      transform: translateY(-50%);
      transition: 0.2s ease-in-out;
      transition-property: top, font-size;

      span {
        @extend .rds-body;
        font-size: rem.convert(18px);
        color: var(--textfield-label-color);
      }
    }

    &--error-text {
      color: var(--textfield-error-color);
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      position: absolute;
    }

    @include mix.with-keyboard-focus;
  }

  &:focus-within {
    .rds-textfield--label {
      top: 0;
      font-size: 1rem;
    }
  }

  .rds-textfield--input:not(:placeholder-shown) + label {
    top: 0;
    font-size: 1rem;
  }
}

.rds-light {
  .rds-textfield,
  &.rds-textfield {
    --textfield-color: var(--rds-button-primary-fg);
    --textfield-border-color: var(--rds-button-primary-fg);
    --textfield-bg: var(--surface-background);

    &--label {
      span {
        --textfield-label-color: var(--rds-background-primary);
      }
    }
  }
}

.rds-white {
  &.rds-textfield {
    --textfield-bg: var(--rds-foreground-primary);
  }
}
