@use "../typography/typography.scss";
@use "../core/mixin/focus" as mix;
@use "../core/mixin/rem";

.rds-textfield {
  --textfield-color: var(--rds-foreground-primary);
  --textfield-label-color: var(--rds-foreground-primary);
  --textfield-border-color: var(--rds-foreground-primary);
  --textfield-selected-color: var(--rds-heading-accent);
  --textfield-error-color: var(--rds-feedback-error-text);
  --textfield-bg: var(--rds-background-primary);
  max-width: 335px;
  position: relative;

  &--full-width {
    max-width: unset;
  }

  &-input {
    border: 2px solid var(--textfield-border-color);
    border-radius: 12px;
    padding: 0 var(--rds-spacing--16) 0;
    height: 3rem;
    width: 100%;

    background-color: var(--input-border-bg);
    color: var(--textfield-color);

    &::placeholder {
      opacity: 0;
    }

    &:focus {
      font-family: var(--rds-font-family-headlines);
      color: var(--textfield-color);
      --textfield-border-color: var(--textfield-selected-color);
      outline: var(--textfield-border-color) solid 1px;
    }

    &--error,
    &[data-valid="false"] {
      --textfield-border-color: var(--textfield-error-color);
      outline: var(--textfield-border-color) solid 1px;
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      display: none;
    }

    &:-webkit-autofill {
      box-shadow: 0 0 0 30px var(--textfield-bg) inset;
      -webkit-text-fill-color: var(--textfield-color);
    }

    &:not(:placeholder-shown) + span {
      top: -1rem;
      font-size: 1rem;
      --textfield-label-color: var(--rds-foreground-overlay-heavy);
    }
  }

  &-label {
    &::after {
      position: absolute;
      right: -1rem;
      top: 1.25rem;
      content: "";
      width: 18px;
      height: 14px;
      transform: scale(0);
      transform-origin: bottom left;
      transition: 120ms transform ease-in-out;
      clip-path: path(
        "M5.77 12.98L0.39 7.6C-0.13 7.08 -0.13 6.24 0.39 5.72C0.91 5.2 1.75 5.2 2.27 5.72L6.12 9.56L15.29 0.39C15.81 -0.13 16.66 -0.13 17.18 0.39C17.7 0.91 17.7 1.75 17.18 2.27L6.46 12.98C6.27 13.17 5.96 13.17 5.77 12.98Z"
      );
      box-shadow: inset 2.1em 2.1em var(--textfield-color);
    }

    &[data-valid="true"]::after {
      transform: scale(1);
    }
  }

  &-label span {
    position: absolute;
    cursor: text;
    background-color: var(--textfield-bg);
    padding: 0 8px;
    top: 50%;
    margin-left: 6px;
    left: var(--rds-spacing--4);
    transform: translateY(-50%);
    transition: 0.2s ease-in-out;
    transition-property: top, font-size;

    font-size: rem.convert(18px);
    color: var(--textfield-label-color);
    @extend .rds-body;
  }

  &--error-text {
    color: var(--textfield-error-color);
    font-family: var(--rds-font-family-headlines);
    margin-top: 0.75rem;
    position: absolute;
  }

  &:focus-within {
    .rds-textfield-label span {
      top: -1rem;
      font-size: 1rem;
      --textfield-label-color: var(--rds-foreground-overlay-heavy);
    }
  }

  @include mix.with-keyboard-focus;
}

.rds-light {
  .rds-textfield,
  &.rds-textfield {
    --textfield-color: var(--rds-button-primary-fg);
    --textfield-border-color: var(--rds-button-primary-fg);
    --textfield-selected-color: var(--rds-button-primary-fg);
    --textfield-bg: var(--surface-background);
    --textfield-error-color: var(--rds-feedback-error-object);

    &-input--error {
      --textfield-border-color: var(--textfield-error-color);
    }

    &-label {
      --textfield-label-color: var(--rds-background-primary);

      &.rds-white {
        --textfield-bg: var(--rds-foreground-primary);
      }
    }

    &-input:not(:placeholder-shown) + span {
      top: -1rem;
      font-size: 1rem;
      --textfield-label-color: var(--rds-background-primary);
    }

    &-input:focus {
      --textfield-border-color: var(--textfield-selected-color);
    }

    &-label:focus-within span {
      --textfield-label-color: var(--rds-background-primary);
    }
  }
}
