@use "../typography/typography.scss";

.rds-form-group-box {
  --checkbox-border-color: var(--rds-accent-color);
  --checkbox-background-color: transparent;
  --checkbox-checkmark-color: var(--rds-background-primary);

  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.75em;
  align-items: center;

  .rds-checkbox {
    &--input {
      appearance: none;
      cursor: pointer;
      background-color: var(--checkbox-background-color);
      margin: 0;
      font: inherit;
      color: currentColor;
      width: 1.25em;
      height: 1.25em;
      border: 0.15em solid var(--checkbox-border-color);
      border-radius: 0.15em;
      transform: translateY(-0.075em);

      display: grid;
      place-content: center;

      &::before {
        content: "";
        width: 0.85rem; //Borde vara i relation till storlek?
        height: 0.85rem;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        //clip-path: polygon(5.77% 12.98%, 0.39% 7.60%, 0.39% 5.72%, 2.27% 5.72%, 6.12% 9.56%, 15.29% 0.39%, 17.18% 0.39%, 17.18% 2.27%, 6.46% 12.98%, 5.77% 12.98%);
        transform: scale(0);
        transform-origin: bottom left;
        transition: 120ms transform ease-in-out;
        /* Windows High Contrast Mode */
        background-color: var(--checkbox-checkmark-color);
      }

      &:checked {
        --checkbox-background-color: var(--rds-accent-color);
        &::before {
          transform: scale(1);
        }
      }
    }

    &--label {
      @extend .rds-bold;
      user-select: none;
      cursor: pointer;
    }
  }
}

.rds-light {
  .rds-form-group-box,
  &.rds-form-group-box {
    --checkbox-border-color: var(--rds-button-primary-fg);
    --checkbox-checkmark-color: var(--surface-background);

    .rds-checkbox--input {
      &:checked {
        --checkbox-background-color: var(--rds-button-primary-fg);
      }
    }
  }
}
