@use "sass:math";

$pixelsPerRem: 16; //in case people change their browser’s font
$minWidthPx: 576; //min view port in px
$maxWidthPx: 1920; //max view port in px

@function get-clamp($minFontSizePx, $maxFontSizePx) {
  $minWidth: math.div($minWidthPx, $pixelsPerRem);
  $maxWidth: math.div($maxWidthPx, $pixelsPerRem);

  $minFontSize: math.div($minFontSizePx, $pixelsPerRem);
  $maxFontSize: math.div($maxFontSizePx, $pixelsPerRem);

  $slope: math.div($maxFontSize - $minFontSize, $maxWidth - $minWidth);
  $yAxisIntersection: -$minWidth * $slope + $minFontSize;

  $fluid: calc(#{$yAxisIntersection}rem + #{$slope * 100}vw);

  @return clamp(#{$minFontSize}rem, #{$fluid}, #{$maxFontSize}rem);
}
