html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.portal-layout {
  display: grid;
  grid-template-areas:
    "header header"
    "menu main";
  grid-template-columns: 200px 1fr;
  gap: 12px;

  & > header {
    grid-area: header;
  }

  & > main {
    grid-area: main;
  }

  & > nav {
    grid-area: menu;
  }
}
