@font-face {
  font-family: "HALMatex";
  src: url("/fonts/HALMatexStrim-Regular.woff2") format("woff2"),
    url("/fonts/HALMatexStrim-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

/* Averta Standard Regular */
@font-face {
  font-family: "AvertaRegular";
  src: url("/fonts/AvertaStandardRegular.woff2") format("woff2"),
    url("/fonts/hinted-AvertaStd-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Averta Standard Semibold  */
@font-face {
  font-family: "AvertaSemibold";
  src: url("/fonts/AvertaStandardSemibold.woff2") format("woff2"),
    url("/fonts/hinted-AvertaStd-Semibold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Averta Standard Bold */
@font-face {
  font-family: "AvertaBold";
  src: url("/fonts/AvertaStandardBold.woff2") format("woff2"), url("/fonts/hinted-AvertaStd-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
}

.portal-layout {
  display: grid;
  grid-template-areas:
    "header header"
    "menu main";
  grid-template-columns: 200px 1fr;
  gap: 12px;
  font-family: var(--rds-font-family-body);

  & > header {
    grid-area: header;
  }

  & > main {
    grid-area: main;

    & > h1:first-of-type {
      margin-top: 0;
    }
    padding: var(--rds-spacing--32);
    background-color: var(--rds-background-primary);
    color: var(--rds-foreground-primary);
    min-height: calc(100vh - 300px);
    border-top-left-radius: var(--rds-roundness--default);
    border-bottom-left-radius: var(--rds-roundness--default);
    margin-left: var(--rds-spacing--32);
    margin-bottom: var(--rds-spacing--96);
    padding-bottom: var(--rds-spacing--80);
    overflow-x: hidden;
  }

  & > nav {
    grid-area: menu;
  }

  @media only screen and (max-width: 768px) {
    grid-template-areas:
      "header"
      "main";
    grid-template-columns: 100%;
    position: relative;
    overflow-x: hidden;

    & > nav {
      position: absolute;
      inset: 0;
    }

    & > main {
      margin: 0;
      margin-top: calc(var(--rds-spacing--16) * -1);
      border-radius: 0;
      padding: var(--rds-spacing--24) var(--rds-spacing--16);
      min-height: calc(100vh - 128px);
    }
  }
}
