// button reset
  .rsc-button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
    /* Remove excess padding and border in Firefox 4+ */
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}


.rsc-button {
    padding: var(--strim-spacing--8) var(--strim-spacing--24);
    border-radius: var(--strim-roundness--default);
  
    &__icon {
      display: flex;
      align-items: center;
      margin-right: var(--strim-spacing--8);
    }
  
    &__postfix {
      display: flex;
      align-items: center;
      border-left: 1px solid currentColor;
      margin-left: var(--strim-spacing--16);
      padding-left: var(--strim-spacing--16);
      margin-top: calc(var(--strim-spacing--8) * -1);
      margin-bottom: calc(var(--strim-spacing--8) * -1);
    }
  
    &--loading:disabled {
      cursor: wait;
    }
  }