.rds-button {
  padding: var(--rds-spacing--8) var(--rds-spacing--24);
  border-radius: var(--rds-roundness--button);
  overflow-y: hidden;
  cursor: pointer;

  &__icon {
    display: flex;
    align-items: center;
    margin-right: var(--rds-spacing--16);
    width: 1.125rem;
  }

  &__postfix {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: var(--rds-spacing--16);
    padding-left: var(--rds-spacing--16);

    &::before {
      content: " ";
      position: absolute;
      width: 1px;
      background-color: currentColor;
      height: 200%;
      left: 0;
    }
  }

  &--loading:disabled {
    cursor: wait !important;

    &:hover {
      box-shadow: none;
    }
  }
}
