@use '../core/mixin/rem';

.rds-button {
  padding: rem.convert(12.5px) var(--rds-spacing--32);
  border-radius: var(--rds-roundness--button);
  overflow-y: hidden;
  cursor: pointer;
  font-size: rem.convert(18px);

  &__icon {
    display: flex;
    align-self: center;
    margin-right: var(--rds-spacing--16);
    width: 1.125rem;

    & > svg {
      width: 100%;
    }
  }

  &__postfix {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: var(--rds-spacing--16);
    padding-left: var(--rds-spacing--16);

    &::before {
      content: " ";
      position: absolute;
      width: 1px;
      background-color: currentColor;
      height: 200%;
      left: 0;
    }
  }

  &--loading:disabled {
    cursor: wait !important;

    &:hover {
      box-shadow: none;
    }
  }
}
