.rds-icon-button {
  border-radius: 50%;
  max-height: 48px;
  max-width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  & .rds-button__icon {
    margin: 0;
    box-sizing: border-box;
    margin: 12px;
  }
}
