.rds-icon-button {
  --default-icon-size: 48px;
  --default-icon-margin: 12px;

  border-radius: 50%;
  max-height: var(--default-icon-size);
  max-width: var(--default-icon-size);
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  & .rds-button__icon {
    margin: 0;
    box-sizing: border-box;
    margin: var(--default-icon-margin);
    height: var(--default-icon-size);
    width: var(--default-icon-size);
    & > svg {
      width: 100%;
    }
  }
}
