.portal-navigation {
  position: sticky;
  top: 100px;
  padding-top: 32px;

  &__toggle {
    position: fixed;
    bottom: 40px;
    right: 10px;
  }

  &__search {
    margin-top: var(--strim-spacing--32);
    margin-left: 40px;
    margin-bottom: var(--strim-spacing--24);

    display: block;
    &__input {
      margin-top: var(--strim-spacing--8);
      width: 100%;
    }
  }

  &__list {
    &__item {
      list-style: none;
      margin-bottom: 16px;
      color: var(--background-primary);

      & a::first-letter {
        text-transform: uppercase;
      }

      & a:visited {
        color: var(--background-primary);
      }

      & .active {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: -16px;
          top: calc(50% - 3px);
          height: 6px;
          width: 6px;
          border-radius: 50%;
          background-color: var(--background-primary);
        }
      }
    }
  }
}
