@use '../../../shared-components/src/components/core/mixin/focus' as mix;

.portal-navigation {
  &__toggle {
    position: fixed;
    bottom: var(--rds-spacing--24);
    right: var(--rds-spacing--16);
  }

  &__search {
    margin-top: var(--rds-spacing--32);
    margin-left: 40px;
    margin-bottom: var(--rds-spacing--24);
    display: flex;
    flex-direction: column;

    &__input {
      margin-top: var(--rds-spacing--8);
      width: 100%;
      max-width: 250px;
    }
  }

  &__list {
    &__item {
      list-style: none;
      margin-bottom: 16px;
      color: var(--rds-background-primary);

      & > button {
        margin-top: var(--rds-spacing--16);
      }

      & a::first-letter {
        text-transform: uppercase;
      }

      & a:visited {
        color: var(--rds-background-primary);
      }

      & .active {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: -16px;
          top: calc(50% - 3px);
          height: 6px;
          width: 6px;
          border-radius: 50%;
          background-color: var(--rds-background-primary);
        }
      }
      & a {
        border-radius: var(--rds-spacing--2);
        @include mix.with-keyboard-focus;
      }
    }
  }
}

.portal-menu-bottom-btn,
.portal-menu-btn {
  display: none;
}

@media only screen and (max-width: 768px) {
  .portal-navigation {
    margin-top: var(--rds-spacing--80);
    transform: translateX(100vw);
    width: 100vw;
    transition: transform 250ms ease-in-out;
    background-color: var(--rds-foreground-primary);
    padding: var(--rds-spacing--32) var(--rds-spacing--32) var(--rds-spacing--32) var(--rds-spacing--16);

    &--show-mobile {
      z-index: 1;
      transform: translateX(0);
    }
    &__toggle {
      position: relative;
      bottom: unset;
      right: unset;
      margin-top: var(--rds-spacing--48);
      margin-left: var(--rds-spacing--32);
    }
  }

  .portal-menu-bottom-btn,
  .portal-menu-btn {
    display: initial;
    position: absolute;
    top: var(--rds-spacing--16);
    right: var(--rds-spacing--16);
    z-index: 1;
    border: none;
    outline: none;
    width: 48px;
    height: 48px;
    cursor: pointer;
    background-color: transparent;

    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: var(--rds-background-primary);
      transform-origin: center center;
      transition: transform 125ms ease-in-out;
    }

    &::before {
      top: 16px;
    }

    &::after {
      bottom: 16px;
    }

    &--close {
      &::before {
        transform: rotate(-45deg) translateX(-10px);
      }
      &::after {
        transform: rotate(45deg) translateX(-10px);
      }
    }
    border-radius: var(--rds-spacing--2);
  }

  .portal-menu-bottom-btn {
    @include mix.with-keyboard-focus;
  }

  .portal-menu-bottom-btn {
    top: initial;
    bottom: var(--rds-spacing--16);
    opacity: 0;
    &:focus {
      opacity: 1;
    }
    &::before {
      transform: rotate(-45deg) translateX(-10px);
    }
    &::after {
      transform: rotate(45deg) translateX(-10px);
    }
    border-radius: var(--rds-spacing--2);
    @include mix.with-keyboard-focus;
  }
}
