.portal-code-block {
  margin-top: var(--strim-spacing--32);

  &__details {
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: var(--strim-spacing--16);
    border-radius: var(--strim-roundness--default);
    max-width: 46rem;
    padding: var(--strim-spacing--16);
    cursor: pointer;
  }
}
