@use "../../../../shared-components/src/components/core/mixin/focus" as mix;

.portal-code-block {
  margin-top: var(--rds-spacing--32);

  &-accordion {
    margin-top: var(--rds-spacing--32);

    max-width: 46rem;
  }

  &__details {
    background-color: var(--rds-background-tertiary);
    max-width: 46rem;
    padding: var(--rds-spacing--16);
  }
}
