@use '../core/mixin/focus' as mix;

.rds-field-set {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  &__legend {
    margin-bottom: var(--rds-spacing--8);
  }
}

.rds-radio-toggle {
  // button reset
  padding: 0;
  background-color: var(--rds-foreground-overlay-soft);
  color: #fff;

  margin: 0 var(--rds-spacing--8);
  display: block;
  max-width: 25ch;
  overflow: hidden;
  border-radius: var(--rds-roundness--button);

  &:active {
    background-color: var(--rds-foreground-overlay-medium);
    color: #fff;
  }

  &__label {
    width: 100%;
    display: grid;
    place-items: center;
    transition: 125ms ease background-color;
    padding: var(--rds-spacing--8) var(--rds-spacing--24);
    box-sizing: border-box;
    user-select: none;
  }

  min-width: 6.25ch;
  &__input {
    position: absolute;
    opacity: 0;

    &:checked {
      & + .rds-radio-toggle__label {
        background-color: var(--rds-foreground-tertiary);
      }
    }
    &:active {
      & + .rds-radio-toggle__label {
        background-color: var(--rds-foreground-overlay-medium);
      }
    }
  }
  @include mix.with-keyboard-focus-within;
}
