@use '../core/mixin/focus' as mix;
@use '../core/mixin/rem';

.rds-field-set {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  &__legend {
    margin-bottom: var(--rds-spacing--8);
  }
}

.rds-radio-toggle {
  // button reset
  padding: 0;
  background-color: var(--rds-foreground-overlay-soft);
  color: #fff;

  margin: 0 var(--rds-spacing--8);
  display: block;
  max-width: 25ch;
  min-width: 7ch;
  overflow: hidden;
  border-radius: var(--rds-roundness--button);

  &:hover {
    background-color: var(--rds-background-tertiary);
  }

  &:active {
    background-color: var(--rds-background-overlay-soft);
    color: #fff;
  }

  &__label {
    width: 100%;
    display: grid;
    place-items: center;
    transition: 125ms ease background-color;
    padding: rem.convert(12.5px) var(--rds-spacing--24);
    box-sizing: border-box;
    user-select: none;
  }

  &__input {
    position: absolute;
    opacity: 0;

    &:checked {
      & + .rds-radio-toggle__label {
        background-color: var(--rds-foreground-tertiary);
      }
    }
    &:active {
      & + .rds-radio-toggle__label {
        background-color: var(--rds-foreground-overlay-soft);
      }
    }
  }
  @include mix.with-keyboard-focus-within;
}
