@use '../core/mixin/fluid';

.rds-display-title {
  font-family: var(--rds-font-family-lg-headlines);
  font-size: fluid.get-clamp(40, 80);
  font-weight: normal;
  line-height: 1.2;
  color: var(--rds-foreground-primary);
}

.rds-title-1 {
  font-family: var(--rds-font-family-lg-headlines);
  font-size: fluid.get-clamp(30, 56);
  font-weight: normal;
  line-height: 1.2;
  color: var(--rds-foreground-primary);
}

.rds-title-2 {
  font-family: var(--rds-font-family-lg-headlines);
  font-size: fluid.get-clamp(24, 40);
  font-weight: normal;
  line-height: 1.2;
  color: var(--rds-foreground-primary);
}

.rds-title-3 {
  font-family: var(--rds-font-family-m-headlines);
  font-size: fluid.get-clamp(20, 22);
  font-weight: normal;
  line-height: 1.2;
  color: var(--rds-heading-accent);
}

.rds-title-4 {
  font-family: var(--rds-font-family-m-headlines);
  font-size: fluid.get-clamp(16, 18);
  font-weight: normal;
  line-height: 1.2;
  color: var(--rds-foreground-primary);
}

.rds-body {
  font-family: var(--rds-font-family-body);
  font-size: fluid.get-clamp(16, 18);
  font-weight: normal;
  line-height: 1.5;
  color: var(--rds-foreground-primary);
}

.rds-sub-body {
  font-family: var(--rds-font-family-body);
  font-size: fluid.get-clamp(14, 16);
  font-weight: normal;
  line-height: 1.5;
  color: var(--rds-foreground-primary);
}

.rds-tag {
  font-family: var(--rds-font-family-headlines);
  text-transform: uppercase;
  font-size: fluid.get-clamp(12, 14);
  line-height: 1.2;
  font-weight: normal;
  letter-spacing: 0.09375rem;
  color: var(--rds-foreground-primary);
}

.rds-bold {
  font-family: var(--rds-font-family-headlines);
  font-size: fluid.get-clamp(18, 18);
  font-weight: normal;
  line-height: 1.5;
  color: var(--rds-foreground-primary);
}

.rds-meta {
  font-family: var(--rds-font-family-body);
  font-size: fluid.get-clamp(12, 14);
  font-weight: normal;
  line-height: 1.5;
  color: var(--rds-foreground-overlay-heavy);
}

$typography-scale: (
  "display-title": "--rds-foreground-tertiary",
  "title-1": "--rds-button-primary-fg",
  "title-2": "--rds-button-primary-fg",
  "title-3": "--rds-button-primary-fg",
  "title-4": "--rds-button-primary-fg",
  "body": "--rds-background-primary",
  "sub-body": "--rds-button-primary-fg",
  "tag": "--rds-background-primary",
  "bold": "--rds-background-primary",
  "meta": "--rds-button-primary-fg",
);

@each $level, $color in $typography-scale {
  .rds-light {
    .rds-#{$level} {
      color: var(#{$color});
    }
  }
  .rds-#{$level}--light {
    color: var(#{$color});
  }
}
