.rds-display-title {
  font-family: var(--rds-font-family-lg-headlines);
  font-size: clamp(2rem, 6vw, 5rem);
  line-height: clamp(2.8125rem, 6vw, 7.5rem);
  color: var(--rds-foreground-primary);
}

.rds-title-1 {
  font-family: var(--rds-font-family-lg-headlines);
  font-size: clamp(1.75rem, 5vw, 2.625rem);
  line-height: clamp(2.8125rem, 5vw, 3.9375rem);
  color: var(--rds-foreground-primary);
}

.rds-title-2 {
  font-family: var(--rds-font-family-lg-headlines);
  font-size: clamp(1.5rem, 4vw, 2.125rem);
  line-height: clamp(2.25rem, 4vw, 3.1875rem);
  color: var(--rds-foreground-primary);
}

.rds-title-3 {
  font-family: var(--rds-font-family-m-headlines);
  font-size: clamp(1.25rem, 4vw, 1.5rem);
  line-height: clamp(1.875rem, 4vw, 2.25rem);
  color: var(--rds-heading-accent);
}

.rds-title-4 {
  font-family: var(--rds-font-family-m-headlines);
  font-size: clamp(1.125rem, 4vw, 1.375rem);
  line-height: clamp(1.6875rem, 4vw, 2.0625rem);
  color: var(--rds-foreground-primary);
}

.rds-body {
  font-family: var(--rds-font-family-body);
  font-size: clamp(1rem, 4vw, 1.125rem);
  line-height: clamp(1.5rem, 4vw, 1.6875rem);
  color: var(--rds-foreground-primary);
}

.rds-sub-body {
  font-family: var(--rds-font-family-body);
  font-size: clamp(0.875rem, 4vw, 1rem);
  line-height: clamp(1.5rem, 4vw, 1.5rem);
  color: var(--rds-foreground-primary);
}

.rds-tag {
  font-family: var(--rds-font-family-body);
  text-transform: uppercase;
  font-size: clamp(0.75rem, 4vw, 1rem);
  line-height: clamp(1.125rem, 4vw, 1.5rem);
  letter-spacing: 0.09375rem;
  color: var(--rds-foreground-primary);
}

.rds-bold {
  font-family: var(--rds-font-family-body);
  font-weight: bold;
  font-size: clamp(1.125rem, 4vw, 1.125rem);
  line-height: clamp(1.5rem, 4vw, 1.6875rem);
  color: var(--rds-foreground-primary);
}

.rds-meta {
  font-family: var(--rds-font-family-body);
  font-size: clamp(0.875rem, 4vw, 0.875rem);
  line-height: clamp(1.125rem, 4vw, 1.3125rem);
  color: var(--rds-foreground-overlay-heavy);
}

$typography-scale: (
  "display-title": "--rds-foreground-tertiary",
  "title-1": "--rds-button-primary-fg",
  "title-2": "--rds-button-primary-fg",
  "title-3": "--rds-button-primary-fg",
  "title-4": "--rds-button-primary-fg",
  "body": "--rds-background-primary",
  "sub-body": "--rds-button-primary-fg",
  "tag": "--rds-background-primary",
  "bold": "--rds-background-primary",
  "meta": "--rds-button-primary-fg",
);

@each $level, $color in $typography-scale {
  .rds-light {
    .rds-#{$level} {
      color: var(#{$color});
    }
  }
  .rds-#{$level}--light {
    color: var(#{$color});
  }
}
